# Ignore all _pycache__ python files
__pycache__/
*.log
*.pot
*.pyc

# ignore media directory
media/

# Ignoring Staticfiles
staticfiles/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Ignore the sqlite3 database
*.sqlite3

# Ignore the variable.json file so as to use different 
# configurations both in production and development environment
variable.json

# Ignore config.json folder so as to enable admins to 
# change some settings during run time without redeploy
config.json
